<h1>Estudiantes</h1>

<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="w-6">
    <div class="grid">
        <div class="col-6">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput/>
            </mat-form-field>
        </div>

        <div class="col-6">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Apellido</mat-label>
                <input formControlName="lastName" matInput/>
            </mat-form-field>
        </div>
    </div>

    <div class="col-12">
        <button type="submit" mat-flat-button color="primary">Guardar</button>
    </div>
</form>

<!-- <pre>{{ students | json }}</pre> -->

<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th appTitleSize mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- full name Column -->
    <ng-container matColumnDef="name">
      <th appTitleSize mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element | fullName }} </td>
    </ng-container>

    <!-- lastName Column -->
    <!-- <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container> -->

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
        <th appTitleSize mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="onDelete(element.id)" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button> 
        </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
